<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    {% extends 'base.html' %}

    {% block content %}

    <div class="main-container">
        <div class="row">

            <div class="col-md-4 offset-md-4 mt-5">
                <h1>task details</h1>
                {{task.title}}
            
              

                <form action="" method="POST">
            
                    {% csrf_token %}
                
                  
                        {% csrf_token %}
                        {{form.as_p}}
                        <button  class="btn btn-primary">update</button>
                
                    </form>
                    <div class="d-flex mt-3 ">
            
                    <form action="{% url 'completed' task.id %}" method="POST">
                        {% csrf_token %}
                        <button class="btn btn-primary">complete</button>
                    </form>
            
                    <form action="{% url 'delete' task.id %}" method="POST">
                        {% csrf_token %}
                        <button  class="btn btn-danger">DELETE</button>
                    </form>
               </div>

            </div>
        </div>
    </div>
  
      
       
    {% endblock %}
    
</body>
</html>